<section id="cd-timeline" class="cd-container">
    <!-- Bloco de Estágio em Desenvolvimento de Software -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie"></div>
        <div class="cd-timeline-content">
            <h2>06/2023 - Estágio em Desenvolvimento de Software</h2>
            <p>Inicei estágio no grupo J.Sleiman, trabalhando no desenvolvimento de aplicações Backend.</p>
        </div>
    </div>

    <!-- Bloco de Tecnólogo em Análise e Desenvolvimento de Sistemas -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location"></div>
        <div class="cd-timeline-content">
            <h2>06/2022 - Tecnólogo em Análise e Desenvolvimento de Sistemas</h2>
            <p>Iniciei no curso de ADS na Universidade de Fortaleza (UNIFOR), com conclusão prevista para 12/2024.</p>
        </div>
    </div>

    <!-- Bloco de Mudança para os EUA -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location"></div>
        <div class="cd-timeline-content">
            <h2>06/2021 a 12/2021 - Intercâmbio nos EUA</h2>
            <p>Mudei-me para San Diego, Califórnia, onde  avancei significativamente no domínio da língua inglesa.</p>
        </div>
    </div>

    <!-- Bloco de Estágio em Engenharia -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture"></div>
        <div class="cd-timeline-content">
            <h2>06/2019 a 12/2019 - Estágio em Engenharia</h2>
            <p>Estagiei no Grupo Marquise na empresa Ecofor, com foco em monitoramento de projetos e otimização de processos.</p>
        </div>
    </div>

    <!-- Bloco de Curso de Inglês -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie"></div>
        <div class="cd-timeline-content">
            <h2>06/2018 a 01/2019 - Intercâmbio na Irlanda</h2>
            <p>Realizei um intercâmbio com o objetivo de aprimorar meus conhecimentos na língua inglesa.</p>
        </div>
    </div>

    <!-- Bloco de Universidade -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture"></div>
        <div class="cd-timeline-content">
            <h2>2018 - Bacharelado em Engenharia de Produção</h2>
            <p>Comecei a graduação em Engenharia de Produção na Universidade de Fortaleza (UNIFOR) concluindo em 12/2024.</p>
        </div>
    </div>
</section>
